body {
background-color: blanchedalmond;
color: aliceblue;
font-family: "Quicksand", sans-serif;
display: flex;
justify-content: center;
align-items: center;
heigth: 700px;
margin: 0;

}

button {

    background-color: bisque;
    color: azure;
    font-family: "Quicksand", sans-serif;

}
